.MobileMenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.MobileMenu_button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (width >= 992px) {
  .MobileMenu {
    display: none;
  }
}
