.MobileMenu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.MobileMenu_button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .MobileMenu {
    display: none;
  }
}
