$orange-120: #E87928;
$orange-100: #FF8B37;
$orange-80: #FFAC70;
$orange-5: #FFF3EB;

$green-100: #47D867;
$green-5: #E6FAEA;

$red-100: #EC6259;
$red-5: #FDEEED;

$black-100: #1C1C21;
$black-60: #97979B;
$black-40: #D0D0D8;
$black-5: #F5F5F7;

$white-100: #FFF;
