.game-start {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &_bg {
    background: linear-gradient(to top left,#fff3eb 50%,#ffffff 50%);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110rem;
    margin: 0 auto;
  }

  &__title {
    font-family: Inter;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 6.5rem;
    max-width: 52.5rem;
    margin-top: 0;
    margin-bottom: 6.5rem;
  }

  &__score-title {
    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.7rem;
    color: #97979b;
    margin: 0;
  }

  &__button {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3rem;
    text-align: center;
    color: #ffffff;
    background-color: #ff8b37;
    border: none;
    border-radius: 1.2rem;
    padding: 2rem 12.3rem;
    transition: all 0.3s;

    &:hover {
      background-color: #ffac70;
    }

    &:active {
      background-color: #e87928;
    }
  }
}