@use "../../styles/colors.scss" as *;

.Start {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &___bg {
    background: linear-gradient(to top left, $orange-5 50%, $white-100 50%);
  }
}

.Start_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120rem;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.Start_logo {
  width: 100%;
  max-width: 45rem;
}

.Start_content {
  display: flex;
  flex-direction: column;
  row-gap: 6.5rem;
}

.Start_title {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.5rem;
  max-width: 52.5rem;
}

.Start_scoreTitle {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.7rem;
  color: $black-60;
  margin: 0;
}

.Start_button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: center;
  color: $white-100;
  background-color: $orange-100;
  border: none;
  border-radius: 1.2rem;
  padding: 2rem 2.4rem;
  transition: 0.5s;
  width: 29.6rem;
  cursor: pointer;

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }
}

@media screen and (width <= 991px) {
  .Start_wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .Start_logo {
    max-width: 19.6rem;
    flex: 50%;
  }

  .Start_content {
    align-items: center;
    justify-content: space-between;
    flex: 50%;
  }

  .Start_title {
    font-size: 3.2rem;
    line-height: 3.712rem;
    text-align: center;
  }
}

@media screen and (width <= 767px) {
  .Start_button {
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-radius: 0.8rem;
    padding: 1.6rem 2.4rem;
    width: 28.8rem;
  }
}
