.prizes {
  display: grid;
  place-items: center;
  row-gap: 0.8rem;
  background: #fff;
  overflow-x: hidden;
  padding: 6.4rem 5rem 3.2rem;
}

.prizes__step {
  display: grid;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  place-items: center;
  width: 240px;
  height: 40px;
  position: relative;
  background-size: 100%;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    top: calc(50% - 0.1rem);
    position: absolute;
    height: 0.1rem;
    background-color: #d0d0d8;
  }

  &::before {
    left: -100%;
  }

  &::after {
    right: -100%;
  }

  &--inactive {
    background-image: url(../../images/step-inactive.svg);
    color: #1c1c21;

    &::before,
    &::after {
      background-color: #d0d0d8;
    }
  }

  &--current {
    background-image: url(../../images/step-current.svg);
    color: #ff8b37;

    &::before,
    &::after {
      background-color: #ff8b37;
    }
  }

  &--finished {
    background-image: url(../../images/step-finished.svg);
    color: #d0d0d8;

    &::before,
    &::after {
      background-color: #d0d0d8;
    }
  }
}

@media screen and (max-width: 991px) {
  .prizes {
    position: absolute;
    width: 100%;

    &--mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .prizes,
  .prizes__step {
    padding: 0.4rem 1rem 0.5rem;

    &--inactive {
      background-image: url(../../images/step-inactive-mobile.svg);
    }

    &--current {
      background-image: url(../../images/step-current-mobile.svg);
    }

    &--finished {
      background-image: url(../../images/step-finished-mobile.svg);
    }
  }
}
