@use "../../styles/colors.scss" as *;

.Question {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10.5rem 8rem 8.5rem;
  background: $black-5;
}

.Question_title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.7rem;
}

.Question_answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3.4rem;
}

.Question_button {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  background-size: 100%;
  padding-left: 3.3rem;
  padding-right: 3.3rem;
  background-image: url("../../images/answer-inactive.svg");
  background-repeat: no-repeat;
  text-align: left;
  position: relative;
  border: none;
  background-color: transparent;
  width: 37.3rem;
  height: 7.2rem;
  cursor: pointer;
  transition: 0.5s;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 1.7rem;
    top: calc(50% - 0.1rem);
    position: absolute;
    height: 0.1rem;
    background-color: $black-40;
  }

  &::before {
    left: -1.7rem;
  }

  &::after {
    right: -1.7rem;
  }

  &:hover {
    background-image: url("../../images/answer-hover.svg");
  }

  &:hover::before,
  &:hover::after {
    background-color: $orange-100;
  }

  &___selected,
  &___selected:hover {
    background-image: url("../../images/answer-selected.svg");

    &::before,
    &::after {
      background-color: $orange-100;
    }
  }

  &___correct,
  &___correct:hover {
    background-image: url("../../images/answer-correct.svg");

    &::before,
    &::after,
    &:hover::before,
    &:hover::after {
      background-color: $green-100;
    }
  }

  &___wrong,
  &___wrong:hover {
    background-image: url("../../images/answer-wrong.svg");

    &::before,
    &::after,
    &:hover::before,
    &:hover::after {
      background-color: $red-100;
    }
  }

  &___inactive {
    cursor: default;
    pointer-events: none;
  }
}

.Question_buttonLetter {
  color: $orange-100;
  margin-right: 1rem;
}

@media screen and (width <= 1199px) and (width >= 992px) {
  .Question {
    padding: 5rem 4rem;
  }

  .Question_button {
    padding: 1.35rem 3.3rem;
    width: 28.8rem;
    height: 5.6rem;
  }
}

@media screen and (width <= 991px) {
  .Question {
    padding: 13.6rem 0 2.4rem;
    align-items: center;
  }

  .Question_title {
    text-align: center;
  }

  .Question_answers {
    justify-content: center;
    gap: 0;
  }

  .Question_button {
    width: 28.8rem;
    height: 5.6rem;
    margin: 0 1.5rem 0.8rem;
    padding: 1.65rem 3.3rem;
  }
}

@media screen and (width <= 767px) {
  .Question {
    row-gap: 10rem;
  }

  .Question,
  .Question_title {
    font-size: 1.8rem;
    line-height: 2.088rem;
  }

  .Question_answers {
    grid-template-columns: 1fr;
  }
}
