@use "./styles/colors.scss" as *;
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 0.2rem solid $orange-100;
  outline-offset: 0.2rem;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  overflow-x: hidden;
  font-family: Inter, Arial, sans-serif;
  color: $black-100;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (width >= 1921px) {
  html {
    font-size: 15px;
  }
}
